@media (min-width: 600px) {
    .main-section {
        font-size: 20px;
    }

    #navbar {
        width: 100px;
    }
}

#navbar {
    display: block;
    background-color: #393646;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    background-color: #FFF3E2;
}

header {
    font-size: 1.8em;
}

#main-doc {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F4EEE0;
}

#navbar li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

#navbar header {
    font-family: 'Poppins', sans-serif;
    color: #F4EEE0;
    margin-left: 10px;
}

a:hover {
    color: #6D5D6E;
}

.main-section>p {
    font-size: 86%;
    font-weight: 300;
}

.main-section>ul {
    font-size: medium;
    font-weight: 300;
}

.codeStyleFont {
    width: fit-content;
    font-weight: bolder;
    font-family: 'M PLUS Code Latin', sans-serif;

}